/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

*, *:before, *:after {
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: bisque;
    background-attachment: fixed;
}


img {
    width: 100px;
}

.hero {
    height: 100vh;
    background: lightblue url(./images/torshov.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero h1, .hero h2 {
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 5;
    box-shadow: 2px 2px 3px black;
}

.hero h1 {
    background-color: #1d3557;
    width: 16rem;
}

.hero h2 {
    background: #45789D;
    
    width: 26rem;
}

/*---activites---*/
 h3, p, h4 {
   color: #1D3557;
    
 }


    .container {
        display: flex;
        flex-direction: column;
        
        max-width: 750px;
        margin: 1em auto;
      }
      
      .container > section {
        height: 400px;;
      }
      .activities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 20% 80%;
        gap: 10px;
         background: #F1FAEE;
        ;
     }
    
      .title {
       grid-column: span 3;
      }

      .guide {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .guide-item {
        background-color: #A8DADC;
        width: 400px;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 3px 2px 3px #1D3557;
      }

      .guide-img {
        width: 150px;
        
      }
 